<ion-content [fullscreen]="true">
    <ion-item href="/mca">
      <ion-label>FYMCA</ion-label>
    </ion-item>
  
    <ion-item href="/mca">
      <ion-label>SYMCA</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>First year Computers</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>Second year Computers</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>Third year Computers</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>First year IT</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>Second year IT</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>Third year IT</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>First year EXTC</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>Second year EXTC</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-label>Third year EXTC</ion-label>
    </ion-item>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/tabs/tab1" color="danger">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>

