<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/re.jpg" alt="" />
      <p>
        Research and Development, efforts in SPIT are geared entirely to
        society’s needs: health, security, communication, energy and the
        environment. As a result, the work undertaken by our researchers and
        developers will have a significant impact on social life. We intend to
        forge future while shaping technology through innovative application by
        improving methods and techniques and by being creative to design new
        products.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/tabs/tab1" color="danger">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
