<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div class="profile-tab">
        <div class="profile-header">
          <img src="assets/profile.jpg" alt="Profile Picture" />
        </div>
      </div>
      <h1>Mihir Ram Shirsath</h1>
      <br />
      <div class="profile-content">
        <ul>
          <li>
            <strong>Branch:</strong>
            <span>FYMCA</span>
          </li>
          <li>
            <strong>Roll no:</strong>
            <span>2022510062</span>
          </li>
          <li>
            <strong>Email:</strong>
            <span>abcd@gmail.com</span>
          </li>
          <li>
            <strong>Phone:</strong>
            <span>9876543210</span>
          </li>
          <li>
            <strong>Address:</strong>
            <span>ma dak afa aiflanflnfa, aif </span>
          </li>
          <li>
            <strong>Date of Birth:</strong>
            <span>17/09/2001</span>
          </li>
          <li>
            <strong>Area of Interest:</strong>
            <span>
              <li></li>
              <li></li>
              <li></li>
              <li></li
            ></span>
          </li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
