<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/re.jpg" alt="" />
      <p>
        Sardar Patel Institute of Technology continues to be ranked among the
        top colleges attracting the brightest students across the state as well
        as the country. We at SPST are working to build enthusiastic engineers
        always willing to take up challenges as opportunities and apply their
        knowledge to tackle t Regardless of the global pandemic and severe
        constraints that have been caused because of it, the placement drive of
        2022-23 saw the best outcome in the course of recent years, with
        exceptionally renowned organizations coming forward to hire. This could
        be achieved due to the elevated level of readiness and responsibility
        shown by the students. The elite, as well as super-dream affers,
        witnessed a significant growth this year. The statistics speaks for
        Company Type Summary 2021-22 ve 2033-33
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img src="assets/pp (1).png" alt="" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h1>Some of Our Recruiters</h1>
      <img src="assets/pp (2).png" alt="" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h1>Our Team</h1>
      <img src="assets/pp (3).png" alt="" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img src="assets/pp (4).png" alt="" />
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/tabs/tab1" color="danger">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
